.env
.env.*
!.env.example

.DS_Store
__pycache__/
*.pyc
.pytest_cache/
.venv/
.poetry-venv/
.zcompdump
.zsh-cache/
node_modules/
dist/
build/
.mypy_cache/
minio-data/

*.egg-info/
.coverage
htmlcov/
*.log
